table {
  box-sizing: border-box;
}

.basketButton {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 1vw;
  padding: 1vw;
  font: 300 1em 'Fira Sans', sans-serif;
}

.basketButton:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.basket {
  color: black;
  background-color: none;
  display: inline-flex;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  padding-left: 1vw;
  padding-right: 1vw;
}

.mainDiv {
display: flex;
flex-direction: row;
padding-left: 10vw;


}

.itemDiv {
  width: 11vw;
  height: 11vw;
  margin: 2.7vw;
  padding: 2vw;
  background-color: white;
  border-radius: 10%;
  opacity: 0.8;
}

.itemDiv:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}


.itemDivClicked {
  background-color: green;
  width: 20vw;
  height: 20vw;
  margin: 30px;
  background-color: lightgray;
  border-radius: 10%;
  cursor: pointer;
  border: 3px solid greenyellow;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
font-family: "Raleway", sans-serif;
line-height: 1.2;
-moz-transform: scale(1.3);
zoom:100%;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}



.train{
  text-align: center;
}

.traffic{
  text-align: center;
} 

.power{
  text-align: center;
}

.hospital{
  text-align: center;
}

.prison{
  text-align: center;
}
#myText{
  font-size: 1vw;
}
.testbed{ 
  position: relative;
  height: 3.5vw;
  width: 11.7vw;
  margin: 0.7vw 0.5vw;
  padding: 0.4vw 0.4vw;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  color: #000000;
  border: 0.2vw #000000 solid;
  border-radius: 0.4vw;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
  .testbed:before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.testbed:hover:before {
  top: 0;
}

.demo{ 
  position: relative;
  height: 3.5vw;
  width: 11.7vw;
  margin: 0.7vw 0.5vw;
  padding: 0.4vw 0.4vw;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  color: #000000;
  border: 0.2vw #000000 solid;
  border-radius: 0.4vw;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
  .demo:before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.demo:hover:before {
  top: 0;
}

.buttons {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.date{
  height: 3.5vw;
  width: 14.5vw;
  background: none;
  border: 0.2vw solid;
  border-radius: 0.2vw;
  font: inherit;
  line-height: 1;
  margin: 1vw;
  padding: 1vw;
  font: 300 1em 'Fira Sans', sans-serif;
}

.time{ 
  height: 3.5vw;
  width: 11.7vw;
  background: none;
  border: 0.2vw solid;
  border-radius: 0.2vw;
  font: inherit;
  line-height: 1;
  margin: 1vw;
  padding: 1vw;
  font: 300 1em 'Fira Sans', sans-serif;
}

.trainpic{
align-content: center;
height: 7vw;
width: 7vw  ;
}   

.trafficpic{
  align-content: center;
  height: 7vw;
  width: 7vw;
}

.powerpic{
  align-content: center;
  height: 7vw;
  width: 7vw;
}

.hospitalpic{
  align-content: center;
height: 7vw;
  width: 7vw;
}

.prisonpic{
  align-content: center;
height: 7vw;
  width: 7vw;
}

.basket-icon{
  height: 1.5vw;
  width: 1.5vw;
} 