@import url(https://fonts.google.com/specimen/Fjalla+One);
@import url(https://fonts.google.com/specimen/Press+Start+2P);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* Main styling */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  -moz-transform: scale(1.3);
  zoom:120%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.blur-background {
    backdrop-filter: blur(10px);
}


label.logo{ 
    color: black;
    font-size: 3vw;
    line-height: 5vw;
    padding: 0 2vw;
    font-weight: bold;
    font-family: 'Press Start 2P', sans-serif;
}


/* .colourBit{
    background: url(https://c4.wallpaperflare.com/wallpaper/154/40/943/iphone-x-gradient-wallpaper-preview.jpg) no-repeat;
    background-size: cover;
    height: calc(90vh);
    text-align: center;
    line-height: 8vh;
} */
section{
    background-color:rgba(253, 253, 253, 0.7);
    background-size: 50px 130px auto;
    width: 70vw;
    height: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    margin:0 auto;
    font-family: 'Fjala one', sans-serif;
    
    
}

.open-button {
    position:fixed;
    bottom: 2vw;
    right: 3vw;
    width: 20vw;
    font-size: 3vw;
    font-size: 3vh;
    
}
.logoutButton {
    position:fixed;
    top: 6vw;
    right: 0.5vw;
    width: 10vw;
    font-size: 3vw;
    font-size: 3vh;
    opacity: 0.8;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 5vw;
    right: 3vw;
    z-index: 9;
    width: 16vw;
    
}
.form-popup2 {
    display: none;
    position:fixed;
    text-align: center;
    right: 0%;
    bottom: 0%;
    z-index: 9;
    width: 16vw;
    border-radius: 3px;
    border-color: black;
    background-color:rgba(255,255,255,0.8);
    font-size: 1.5vw;
    
}
#myText{
    font-size: 1.5vw;
}
#myText2{
    font-size: 2.5vw;
}


.btn2 {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1vw;
    transition: 0.3s;
    position: absolute;
    left:9vw;
  }
.obtn{
    width: 5vw;
    height: 3vh;
}

.selectBox{
    width: 10vw;
    height: 15vh;
}
input{
    width: 35vw;
    height: 5vh;
}
h1{
    font-size: 5vw;
    font-size: 8vh;
}
p{
    font-size: 3vw;
    font-size: 5vh;
}
form{
    font-size: 3vw;
    font-size: 5vh;

}
