<!DOCTYPE html>
<html lang="en">
    <title>AZ</title>
    <meta name="title" content="AZ" />
    <!-- Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utilities.css') }}">
    <script src="../static/Loginpage.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header id="hero">
      <!-- Navbar -->
      <nav class="navbar">
        <div class="container">
          <!-- Logo -->
          <h1 id="logo">
            <a href="#"
              ><img src="static/assets/cyperic.png" alt="Your Logo"
            /></a>
          </h1>
          <!-- Navbar links -->
          <ul class="nav-menu">
            <li><a class="active nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="catalog">Catalogue</a></li>
                <li><a class="nav-link" href="bookingHistory">Bookings</a></li>
                <li><a class="nav-link" href="historyPageRender">History</a></li>
            
            <li>
              <a
                class="nav-link btn btn-primary"
                href="loginPage"
                id="loginout"
                >LOGIN <i class="fas fa-arrow-right"></i
              ></a>
            </li>

            <!-- Toggle switch -->
            <div class="theme-switch">
              <input type="checkbox" id="switch" />
              <label class="toggle-icons" for="switch">
                <img class="moon" src="static/assets/moon.svg" />
                <img class="sun" src="static/assets/sun.svg" />
              </label>
            </div>
            <!-- Hamburger menu -->
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>

      <section class="header-container">
        <img
          class="profile-image"
          src="static/assets/cyperic.png"
          alt=""
        />
        <h1>Cyber Innovation Hub</h1>

        <div class="content-text">
          <h2>The future of cyber starts here</h2>
          <h2></h2>

          <p>
            The Cyber Innovation Hub will unleash the potential of the Cardiff Capital Region, creating a world-class pipeline of new cyber security products, high-growth businesses, and technically-skilled talent.
          </p>
        </div>
        <a
          href="https://www.instagram.com/t18frans/"
          class="btn btn-secondary"
          target="_blank"
          >Connect With Us</a
        >
      </section>
    </header>

    <!-- Projects -->
    <section id="projects" class="project-container container">
      <div class="division"></div>
      <div class="content-text">
        <h2>What do we offer?</h2>
        <p>We wrap commercial teams around ground-breaking solutions & provide niche technology-focussed cyber skills training.</p>
      </div>

      <article class="project">
        <!-- Project 1 -->
        <div href="https://cyberinnovationhub.wales/for-cyber-entrepreneurs/build-your-venture/" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>Venture Building</h3>
              <p>We bring the best ideas (and their creators!) onto our unique venture building programme, and support the rapid development of new,</p>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div href="https://cyberinnovationhub.wales/our-challenges/" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>Challenge-led innovation</h3>
              <p>We work with businesses and the public sector to pull through market-led innovation challenges</p>
            </div>
          </div>
        </div>

        <!-- Porject 3 -->
        <div href="https://cyberinnovationhub.wales/for-future-cyberists/training-and-skills/" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>Bitesize hands-on training</h3>
              <p>Our courses offer an exceptional learning environment that provides practical skills and real-world experience,</p>
            </div>
          </div>
        </div>

        <!-- Project 4 -->
        <div href="https://cyberinnovationhub.wales/our-challenges/" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>Do you think you have a solution to a cyber security issue?</h3>
              <p>We work with businesses and the public sector to identify cybersecurity challenges that they face and put them out in Challenge Calls.</p>
            </div>
          </div>
        </div>

        <!-- Project 5 -->
        <div href="https://cyberinnovationhub.wales/for-future-cyberists/training-and-skills/" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>Training and Skills</h3>
              <p>Hands-on skills in cyber security are in high demand in all kinds of organisations. We have some outstanding skills programmes already in the region, but we also know people can find cyber security a bit of a mystery.</p>
            </div>
          </div>
        </div>

        <!-- Project 6 -->
        <div href="" class="card1">
          <div class="project-info">
            <div class="project-bio">
              <h3>What do we mean by cyber?</h3>
              <p>Cyber security is a mindset. It’s about thinking differently. It’s about problem solving. It’s about keeping the lights on, keeping business flowing, and staying safe online.</p>
            </div>
          </div>
        </div>
      </article>

      <a href="https://cyberinnovationhub.wales/" class="btn btn-secondary"
        target="_blank" >See More <i class="fas fa-arrow-right"></i
      ></a>
    </section>

    <!-- frame -->  

  <Body>     

  <iframe height="1000" width="100%"  
    

  src="https://www.youtube.com/embed/KlYWejjNCNw?origin=https://cyberinnovationhub.wales&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen="" allow="autoplay">>   

  </iframe> 

<!-- Cards -->

<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cyberinnovationhub.wales/wp-content/uploads/2023/04/Medium_2019-05-17_LXM_Vivatech_Thales_123459.jpg" alt="Our unique approach" />
        </div>
        <div class="card_content">
          <h2 class="card_title">Our unique approach</h2>
          <div class="card_text">
            <p>We’re joining up strategic plans with physical infrastructure around cyber security innovation. We believe our blend of hands-on skills development, business incubation and product acceleration across industry and academia is unique within the UK.
            </p>
            <hr />
            <p>By building a critical mass of activity, with successful delivery, we will pull national and international investment into the region, with economic benefits for our partners, funders, and the wider community.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://cyberinnovationhub.wales/wp-content/uploads/2023/04/Reading_GP_Six_538221_LR-1280x853.jpg" alt="Whyus?" />
        </div>
        <div class="card_content">
          <h2 class="card_title">Why us?</h2>
          <div class="card_text">
            <p>Through the National Cyber Security Centre, Cardiff University and the University of South Wales are recognised by the UK Government for excellence in cybersecurity research, innovation, and education. We also have strong industry partners – Airbus, CGI and Thales – as well as strong links with schools and colleges across the region.
            </p>
            <hr />
            <p>The Alacrity Foundation have established entrepreneurship and venture building programmes, while Tramshed Tech is a leading co-working space and start-up community in the region, with cybersecurity companies on premises and a commitment to growing technology-driven and cyber enterprise.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2020/03/21/07/cambridges1112003d.jpg?crop=8:5,smart&quality=75&auto=webp&width=960" alt="A side view of a plate of figs and berries." />
        </div>
        <div class="card_content">
          <h2 class="card_title">We’re on a mission…</h2>
          <div class="card_text">
            <p>We’re on a mission to transform South Wales into a leading cyber security cluster by 2030, creating a world-class pipeline of new cyber security products, high-growth businesses, and technically-skilled talent.
            </p>
            <hr />
            <p>Thanks to the support of the Welsh Government and Cardiff Capital Region, we have a unique opportunity to accelerate the growth of the cyber sector in South Wales. We’re determined to increase the number of cyber security companies anchored in Wales by 50% and upskill 1500 individuals with hands-on technical skills through affordable training.
            </p>
            <hr/>
            <p>Together, let’s work to transform Cardiff Capital Region into a leading UK cyber security cluster.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Footer -->

  </body>
  </html>
    <footer id="footer">
      <div class="container">
        <a href="mailto: cyberinnovationhub@cardiff.ac.uk">cyberinnovationhub@cardiff.ac.uk</a>
        <!-- Social links -->
        <div class="social">
          <a href="https://www.linkedin.com/company/cyber-innovation-hub-wales/" target="_blank"
            ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/640px-LinkedIn_logo_initials.png" alt="in"
          /></a>
          <a href="https://twitter.com/CyberHwb" target="_blank"><img src="static/assets/twitter-icon.svg" alt="Twitter" /></a>
          </a>
        </div>
      </div>
    </footer>
    <script src="static/script.js"></script>
    <script>
      const loginout = document.getElementById('loginout');
      console.log(localStorage.getItem("username"))
      if (localStorage.getItem("username") !== null && localStorage.getItem("username") !== "null" ){
          console.log("AHH")
          loginout.innerText = "LOG OUT"
          loginout.addEventListener('click', () => {
              localStorage.setItem("username", null)
              localStorage.setItem("comeFrom", "/")
              console.log("gee whizz")
              alert('Performing custom logout action');
      })}else{
          loginout.innerText = "LOG IN"  
      };
      </script>
  </body>
</html>
